<header class="site-header">
	<div class="site-header-item">
		<a class="site-header-logo" href="/">
			<img src="/static/logo.png" alt="" />
			<span>FeelFriends</span>
		</a>
	</div>
	<div class="site-header-item">
		<a class="button button-outlined" href="/p/new">create new post</a>
	</div>
</header>