<!DOCTYPE html>
{{>baseHead}}
<html>
<body>
 {{>siteHeader}}   

<section class="section">

<div class="container">
<h2>create new post done</h2>
<p>post will show on the first page you can go back and talk to friend</p>
<a class="button" href="/">get back to home</a>
</div>
</section>


{{>siteFooter}}
</body>
</html>